<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>大洋洲红酒网站</title>
    <link rel="stylesheet" href="/plugin/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/statics/css/index.css">
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="/statics/css/ie-index.css">
    <![endif]-->
</head>

<body>
    <div class="index_bg" style="height: 100%;">
        <div class="header_bg index_header text-center">
            <img src="/statics/images/index_headerimg.png" alt="">
            <ul class="nav index_nav">
                    <li><a href="/<%= language %>/wine/"><%= i18n.HOME %></a></li>
                    <li><a href="/<%= language %>/wine/list"><%= i18n.WINE %></a><i class="active"></i></li>
                    <li><a href="/<%= language %>/wine/story"><%= i18n.STORY %></a></li>
            </ul>
        </div>
        <div class="container-fluid text-center buy-section" style="padding-bottom: 110px">
            <div class="container buy-section-msg">
                <div class="buy_section_bg">

                </div>
                <div class="row buy-title color-title">
                    <div class="col-md-12 col-sm-12">
                            <h1 class=""><%= i18n.WINE_TITLE %></h1>
                            <p><%= i18n.WINE_MSG %></p>
                    </div>
                </div>
                <div class="row buy-wines">
                    <% for(var i = 0; i < wines.length; i++){ %>
                        <div class="col-md-4 col-sm-4 wine-item">
                            <div class="wine-item-box">
                                <img src="<%=wines[i].avatar%>" alt="">
                            </div>
                            <div>
                                <h3><%=wines[i].title%></h3>
                                <p class="color-wine"><span><%=wines[i].winery%></span> | <span><%=wines[i].variety%></span> | <span><%=wines[i].years%></span></p>
                                <a href="/<%= language %>/wine/<%=wines[i].id%>"><%= i18n.DETAILS %></a>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>

        </div>
        <div class="footer text-center">
            <ul>
                <li><span><%= i18n.TEL %>：</span> <span class="tel-num">+61 458 907 888</span></li>
                <li><span><%= i18n.EMAIL %>：</span> <span>ronghui829@gmail.com</span></li>
                <li><span><%= i18n.ADDRESS %>：</span> <span>1003/108 Haines St NORTH MELBOURNE VIC 3051</span></li>
            </ul>
        </div>
    </div>
</body>
<script src="/plugin/jquery/dist/jquery.min.js"></script>
<script src="/plugin/bootstrap/dist/js/bootstrap.min.js"></script>

</html>