<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>大洋洲红酒网站</title>
    <link rel="stylesheet" href="/plugin/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/statics/css/index.css">
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="/statics/css/ie-index.css">
    <![endif]-->
</head>

<body>
    <div class="index_bg" style="height: 100%;">
        <div class="header_bg index_header text-center">
            <img src="/statics/images/index_headerimg.png" alt="">
            <ul class="nav index_nav">
                <li><a href="/<%= language %>/wine/"><%= i18n.HOME %></a></li>
                <li><a href="/<%= language %>/wine/list"><%= i18n.WINE %></a></li>
                <li><a href="/<%= language %>/wine/story"><%= i18n.STORY %></a><i class="active"></i></li>
            </ul>
        </div>
        <div class="container-fluid text-center story-section" style="padding-bottom: 110px">
            <div class="container buy-section-msg">
                <div class="story_section_bg">

                </div>
                <div class="row story-title color-title">
                    <div class="col-md-12 col-sm-12">
                        <h1 class=""><%= i18n.STORY_TITLE %></h1>
                        <p><%= i18n.STORY_MSG %></p>
                    </div>
                </div>
                <div class="row buy-wines story-content">
                    <div class="col-md-12 col-sm-12">
                       <%- content.value %>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer text-center">
            <ul>
                <li><span><%= i18n.TEL %>：</span> <span class="tel-num">+61 458 907 888</span></li>
                <li><span><%= i18n.EMAIL %>：</span> <span>ronghui829@gmail.com</span></li>
                <li><span><%= i18n.ADDRESS %>：</span> <span>1003/108 Haines St NORTH MELBOURNE VIC 3051</span></li>
            </ul>
        </div>
    </div>
</body>
<script src="/plugin/jquery/dist/jquery.min.js"></script>
<script src="/plugin/bootstrap/dist/js/bootstrap.min.js"></script>

</html>